<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Ninja_Fantasy.Configuration" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="Ninja_Fantasy.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <userSettings>
        <Ninja_Fantasy.Configuration>
            <setting name="TvK" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="CvK" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="JvK" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="NinjutsuvK" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="Ton1c" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Ton1a" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Ton1s" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Ton1vK" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="Ton2c" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Ton2a" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Ton2s" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Ton2vK" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="Ton3c" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Ton3a" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Ton3s" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Ton3vK" serializeAs="String">
                <value>7</value>
            </setting>
            <setting name="Ton4c" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Ton4a" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Ton4s" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Ton4vK" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="Ton5c" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Ton5a" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Ton5s" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Ton5vK" serializeAs="String">
                <value>9</value>
            </setting>
            <setting name="Ton6c" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Ton6a" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Ton6s" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Ton6vK" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Tparam" serializeAs="String">
                <value>
                </value>
            </setting>
            <setting name="Cparam" serializeAs="String">
                <value>
                </value>
            </setting>
            <setting name="Jparam" serializeAs="String">
                <value>
                </value>
            </setting>
            <setting name="NinjutsuParam" serializeAs="String">
                <value>
                </value>
            </setting>
            <setting name="Ton7c" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Ton7a" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Ton7s" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Ton7vK" serializeAs="String">
                <value>-</value>
            </setting>
        </Ninja_Fantasy.Configuration>
        <Ninja_Fantasy.Settings1>
            <setting name="Tparam" serializeAs="String">
                <value/>
            </setting>
            <setting name="TvK" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Cparam" serializeAs="String">
                <value/>
            </setting>
            <setting name="CvK" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="Jparam" serializeAs="String">
                <value/>
            </setting>
            <setting name="JvK" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="NinjutsuParam" serializeAs="String">
                <value/>
            </setting>
            <setting name="NinjutsuvK" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="Ton1c" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Ton1a" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Ton1s" serializeAs="String">
                <value>False</value>
            </setting>
        </Ninja_Fantasy.Settings1>
    </userSettings>
</configuration>
