<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TowerEx_Assistant.Configuration" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <TowerEx_Assistant.Configuration>
            <setting name="ModCtrl" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ModAlt" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ModShift" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ModKey" serializeAs="String">
                <value>F</value>
            </setting>
        </TowerEx_Assistant.Configuration>
    </userSettings>
</configuration>