<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="BMS_Fantasy.Configuration" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="BMS_Fantasy.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <userSettings>
        <BMS_Fantasy.Configuration>
            <setting name="BLvK" serializeAs="String">
                <value/>
            </setting>
            <setting name="BLParam" serializeAs="String">
                <value/>
            </setting>
            <setting name="AutoC" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoA" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoS" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutovK" serializeAs="String">
                <value/>
            </setting>
        </BMS_Fantasy.Configuration>
        <BMS_Fantasy.Settings1>
            <setting name="BLvK" serializeAs="String">
                <value/>
            </setting>
            <setting name="BLParam" serializeAs="String">
                <value/>
            </setting>
            <setting name="MEvK" serializeAs="String">
                <value/>
            </setting>
            <setting name="MEParam" serializeAs="String">
                <value/>
            </setting>
            <setting name="SSvK" serializeAs="String">
                <value/>
            </setting>
            <setting name="SSParam" serializeAs="String">
                <value/>
            </setting>
            <setting name="AutoC" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoA" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoS" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutovK" serializeAs="String">
                <value/>
            </setting>
        </BMS_Fantasy.Settings1>
    </userSettings>
</configuration>
